body {
    background-color: #8E24AA
}

.mb-30 {
    margin-bottom: 30px
}

 .card-body {
    padding: 1.25rem 1.75rem
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem
}


label.check {
    cursor: pointer
}

label.check input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none
}

label.check span {
    padding: 7px 14px;
    border: 2px solid #8f37aa;
    display: inline-block;
    color: #8f37aa;
    border-radius: 3px;
    text-transform: uppercase
}

label.check input:checked+span {
    border-color: #8f37aa;
    background-color: #8f37aa;
    color: #fff
}