@import '../Scss/variables/variables';

.container1 {
    padding-top: 200px;
    text-align: center;
    font: 100px;
}
.container2 {
    text-align: center;
    padding-top: 250px;
    font-size: larger;
    color: chocolate;
    background: $base-color;
    padding-bottom: 250px;
}
